<!DOCTYPE html>
<html>
  <head>
    <title><%= roomKey %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= roomKey %></h1>
    <p>Welcome to Node</p>
  </body>
</html>
